<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main class="admin-panel">
    <%- include('../partials/adminNav') %>
    <section id="content">
        <% if (path === '/add-product'){ %>
        <%- include('./add-product') %>
        <% } %>

        <%  if (path === '/all-product'){ %>
        <%- include('./products') %>
        <% } %>

        <%  if (path === '/orders'){ %>
        <%- include('./orders') %>
        <% } %>

        <%  if (path === '/') { %>
        <%- include('./dashboard') %>
        <% } %>
        
    </section>
</main>
<%- include('../partials/docbottom') %>
