<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main>
    <%- include('../partials/adminNav') %>
    <%- include('../layouts/add-product') %>
</main>
<%- include('../partials/docbottom') %>
