<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
    <section>
        <aside class="products-list">
	<div class="products-container">
		<% for (item of product) { %>
		<div class="card">
			<div class="card-img">
                <img src="https://images.unsplash.com/photo-1562771242-a02d9090c90c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGd5bXxlbnwwfDB8MHx8fDI%3D" alt="">
            </div>
			<div class="card-info">
				<p class="text-title"><%= item.title %></p>
				<p class="text-body"><%= item.description %></p>
			</div>
			<div class="card-footer">
				<span class="text-title">$ <%= item.price %></span>
				<div class="card-button">
					Edit
				</div>
				<div class="card-button">
					Delete
				</div>
			</div>
		</div>
		<% } %>
	</div>
</aside>

    </section>
<%- include('../partials/footer') %>
<%- include('../partials/docbottom') %>
