<%- include('partials/dochead') %>
<%- include('partials/navigation') %>
<main class="homepage">
<%- include('layouts/home/hero') %>
<%- include('layouts/home/popular-categories') %>
<%- include('layouts/home/feature1') %>
<%- include('layouts/home/tripleBox1') %>
<%- include('layouts/home/feature2') %>
<%- include('layouts/home/tripleBox2') %>
<%- include('layouts/home/tripleBox3') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/docbottom') %>