<%- include('partials/dochead') %>
<%- include('partials/navigation') %>
<main>
    <%- include('layouts/product-filter') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/docbottom') %>
