<%- include('partials/dochead') %>
<%- include('partials/navigation') %>
<main class="all-products">
    <section>
        <%- include('layouts/product-filter') %>
        <%- include('layouts/products-list') %>
    </section>
</main>
<%- include('partials/footer') %>
<%- include('partials/docbottom') %>
