<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main class="homepage">
<%- include('./hero') %>
<%- include('./popular-categories') %>
<%- include('./feature1') %>
<%- include('./tripleBox1') %>
<%- include('./feature2') %>
<%- include('./tripleBox2') %>
<%- include('./tripleBox3') %>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/docbottom') %>