<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main class="cart-page">
    <%- include('./layouts/product-in-cart') %>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/docbottom') %>
