<%- include('../partials/dochead') %> <%- include('../partials/navigation') %>
<main class="all-products">
	<%- include('layouts/carousel') %> 
	<%- include('layouts/category1') %> 
	<%- include('layouts/category2') %> 
	<%- include('layouts/new-arrivals') %> 
	<%- include('layouts/category3') %> 
</main>
<%- include('../partials/footer') %> <%- include('../partials/docbottom') %>
