<%- include('../partials/dochead') %> <%- include('../partials/navigation') %>
<main class="all-products">
    <article>
        <h2>Store. Never settle for anything less.</h2>
    </article>
	<%- include('layouts/category1') %> 
	<%- include('layouts/category2') %> 
	<%- include('layouts/new-arrivals') %> 
	<%- include('layouts/category3') %> 
</main>
<%- include('../partials/footer') %> <%- include('../partials/docbottom') %>
