<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main class="contact-page">
    <%- include('../layouts/contact-form') %>
    <%- include('../layouts/contact-detail') %>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/docbottom') %>
